doctype 5
html
  head
    title TestChinoApplication
    script(src="/build.js")


  body
    h1 This is a #{someVariable}
    h2 Testing 123
    h3= overwrittenVariable 

    script
      var SmallView = require('small-view');
      var smallView = new SmallView({locationName: 'client'});
      var $ = require('component-dom');
      window.Chino = require('chino');
      Chino.ready(function() {
        $('body').append(smallView.render());
      })
